.product {
    display: grid;
    width: 100%;
}

.product button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: none;
    outline: none;
    border-radius: 50px;
    max-width: 220px;
    width: 100%;
    height: 40px;
    color: var(--white);
    background: #9D0208;
    gap: 10px;
    cursor: pointer;
}

.product button svg {
    width: 40px;
    height: 40px;
}

.product_content {
    padding-top: 35px;
    width: 100%;
    display: flex;
    gap: 25px;
}

.product_content img {
    max-width: 450px;
    width: 100%;
    height: 450px;
    border-radius: 15px;
    object-fit: cover;
}

.product_info {
    gap: 10px;
    display: flex;
    flex-direction: column;
    max-width: 420px;
    width: 100%;
    color: var(--white);
}

.product_price {
    border-radius: 25px;
    color: var(--white);
    padding: 25px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    max-width: 350px;
    height: 170px;
    width: 100%;
    background: #3A3E4320;
}

.product_price p {
    font-size: 30px;
}

.product_price button {
    color: var(--black);
    max-width: 305px;
    width: 100%;
    height: 60px;
    font-size: 18px;
    border-radius: 50px;
    border: none;
    outline: none;
    background: var(--white);
}

.status {
    cursor: pointer;
    font-size: 35px;
    color: green;
}

.status.non-status{
    color: red;
}


@media (max-width: 1040px) {
    .product {
        min-width: 0px;
        width: 100%;
    }

    .product_content {
        min-width: 0;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        flex-direction: column;
    }

    .product_content img {
        min-width: 0;
        width: 100%;
        height: 450px;
        border-radius: 15px;
        object-fit: cover;
    }

    .product_info {
        width: 100%;
        color: var(--white);
    }
    
    .product_info p {
        font-size: 25px;
    }

    .product_price {
        min-width: 0;
        width: 100%;
    }

    .product_price button {
        min-width: 0;
        width: 100%;
    }
}

@media (max-width: 700px) {
    .product_content {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        gap: 50px;
        flex-direction: column;
    }
}