.product button{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    border-radius: 50px;
    max-width: 220px;
    width: 100%;
    height: 40px;
    color: var(--white);
    background: #9D0208;
    gap: 10px;
}

.product button svg
{
    width: 40px;
    height: 40px;
}

.product_content {
    padding-top: 35px;
    width: 100%;
    display: flex;
    gap: 25px;
}

.product_content img{
    max-width: 450px;
    width: 100%;
    height: 450px;
    border-radius: 15px;
    object-fit: cover;
}

.product_info {
    max-width: 420px;
    width: 100%;
    color: var(--white);
}

.product_price {
    border-radius: 25px;
    color: var(--white);
    padding: 25px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    max-width: 350px;
    height: 170px;
    width: 100%;
    background: #3A3E4320;
}

.product_price p {
    font-size: 30px;
}

.product_price button {
    color: var(--black);
    max-width: 305px;
    width: 100%;
    height: 60px;
    font-size: 18px;
    border-radius: 50px;
    border: none;
    outline: none;
    background: var(--white);
}
