.home_category {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 80px;
}

.home_category .ru>* {
    font-family: Onest !important;
}

.home_category_cards {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    gap: 10px;
}

.home_category_card {
    padding: 30px 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    min-width: 0;
    width: 100%;
    gap: 30px;
    background: #3A3E43;
    border-radius: 35px;
    color: var(--white);
}

.home_category_card h3 {
    max-width: 388px;
    font-size: 36px;
    font-weight: 400;
}

.category_links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    max-height: 100px;
    font-weight: 400;
    column-gap: 20px;
    row-gap: 10px;
    max-width: 70%;
}

.category_links li {
    font-size: 25px;
}

.home_category li a {

    color: var(--white);
}

.home_category_button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--white);
    font-size: 18px;
    padding: 14px 30px;
    min-width: 0;
    width: 100%;
    background: transparent;
    border: 2px solid var(--white);
    outline: none;
    border-radius: 50px;
}

.home_category_action {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.h_c_btn {
    display: none;
}

@media (max-width: 1040px) {
    .home_category_cards {
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
        gap: 10px;
    }
}

@media (max-width: 570px) {
    .category_links{
        border: 2px solid #ffffff40;
        border-radius: 15px;
        width: 100%;
        display: flex !important;
        flex-direction: column !important;
        gap: 20px !important;
        visibility: hidden;
        overflow: hidden;
        opacity: 0;
        height: 0;
        flex-wrap: unset;
        max-height: 200px;
        transition: .4s ease-in-out;
    }

    .category_links.open {
        height: 100%;
        overflow-y: scroll;
        visibility: visible;
        opacity: 1;
    }

    .category_links::-webkit-scrollbar{
        width: 5px;
        border-radius: 15px;
        background: #3a3e431a;
    }

    .category_links li {
        margin-left: 20px;
        font-size: 22px;
    }

    .category_links a {
        color: #cbcbcb !important;
    }

    .category_links a:focus {
        color: #ffffff !important;
    }

    .h_c_btn {
        display: block;
        width: 100%;
        padding: 14px 30px;
        border-radius: 50px;
        font-size: 15px;
        border: 2px solid var(--white);
        outline: 0;
        background: transparent;
        color: var(--white);
        transition: .4s;
    }

    .h_c_btn.active{
        background: var(--white);
        border: 2px solid var(--white);
        color: black !important;
    }
}