:root {
    --red: #9D0208;
}

.p_products {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 80px;
    width: 100%;
}

.p_products h1 {
    color: var(--white);
    font-size: 36px;
    max-width: 332px;
    width: 100%;
}

.p_products_button {
    outline: none;
    color: var(--white);
    padding: 0 25px;
    height: 50px;
    font-size: 18px;
    border: 1.5px solid var(--white);
    background: transparent;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.p_products_actions {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
}

@media (max-width: 500px) {
    .p_products_actions {
        display: flex;
        gap: 15px;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }
}


/* 
===

CARDS

===
*/