:root {
    --white: #ffffff;
    --black: #000000;
    --button-border: 1.5px solid var(--white);
    --button-border-radius: 50px;
    --button-padding: 15px 25px;
    --transition-speed: 0.2s;
}


.products {
    width: 100%;
    display: flex;
    flex-direction: column;
}


.products_title {
    font-weight: 400;
    font-size: 42px;
    color: var(--white);
    margin-bottom: 20px;
}


.products_options {
    display: flex;
    gap: 20px;
    padding-bottom: 35px;
}

.products_options .button {
    width: 100% !important;
    max-width: fit-content;
    border: var(--button-border);
    outline: none;
    border-radius: var(--button-border-radius);
    padding: var(--button-padding);
    background-color: transparent;
    color: var(--white);
    transition: background-color var(--transition-speed) ease-in, color var(--transition-speed) ease-in, transform var(--transition-speed) ease-in;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

.products_options .button:hover {
    background: #5e5e5e;
}

.products_options .button.active {
    background: var(--white);
    color: var(--black) !important;
}

.product_content {
    width: 100%;
}


.products_cards {
    width: 100%;
    padding-top: 55px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}

.products_card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: var(--white);
    width: 100%;
    min-width: 0;
    max-width: 400px;
    padding: 5px 5px 10px 5px;
    height: 100%;
    border-radius: 35px;
    background: #3A3E4320;
}

.products_card_content {
    font-family: Onest !important;
    padding: 10px;
}

.products_name {
    padding-top: 20px;
    padding-bottom: 15px;
}

.products_card img {
    align-self: center;
    cursor: pointer;
    width: 100%;
    max-height: 240px;
    height: 100%;
    border-top-right-radius: inherit;
    border-top-left-radius: inherit;
}

.products_cards button {
    min-width: 0;
    width: 100%;
    border: none !important;
    border-radius: 50px;
    height: 38px;
    font-size: 16px;
    color: var(--white);
    background: var(--red) !important;
}

.products_cards button:hover {
    background: #a80208 !important;
}

.products_cards button:focus {
    background: #860206 !important;
}

.price {
    font-size: 25px;
}

.products_category_links {
    min-width: 300px;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 10px;
    flex-wrap: wrap;
    visibility: hidden;
    opacity: 0;
    min-height: 0;
    max-height: 100px;
    height: 0;
    transition: .2s  ease-in;
}

.products_category_links.open {
    visibility: visible;
    opacity: 1;
    height: 100%;
}

.products_category_links a {
    color: #ffffff40;
    font-size: 20px;
}

.products_category_links a:hover {
    color: #ffffff;
}

.p_c_btn {
    display: block;
    max-width: 300px;
    height: 50px;
    width: 100%;
    border-radius: 50px;
    font-size: 15px;
    border: 2px solid var(--white);
    outline: 0;
    background: transparent;
    color: var(--white);
    transition: .4s;
    position: relative;

}

.p_c_btn.active {
    background: var(--white);
    border: 2px solid var(--white);
    color: black !important;
}

.p_c_btn::after {
    content: " ";
    border-radius: 5px;
    position: absolute;
    width: 15px;
    height: 2px;
    background: var(--white);
    top: 50%;
    right: 10%;
    transform: rotate(60deg);
    transition: .4s;
}

.p_c_btn::before {
    content: " ";
    position: absolute;
    border-radius: 5px;
    width: 15px;
    height: 2px;
    background: var(--white);
    top: 50%;
    right: 7.5%;
    transform: rotate(120deg);
    transition: .4s;
}

.p_c_btn.active::before{
    transform: translateX(-45%) rotate(130deg);
    background: var(--black);
}
.p_c_btn.active::after {
    transform: translateX(10%) rotate(50deg);
    background: var(--black);
}



@media (max-width: 1363px) {
    .products_cards {
        grid-template-columns: repeat(3, 1fr);
    }

    .products_card {
        max-width: 400px;
        min-width: unset;
        width: 100%;
    }
}

@media (max-width: 1030px) {
    .products_cards {
        grid-template-columns: repeat(2, 1fr);
    }

    .products_card {
        min-width: 0;
        max-width: 400px;
        width: 100%;
    }
}

@media (max-width: 700px) {
    .products_cards {
        grid-template-columns: 1fr;
    }

    .products_options {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .products_card {
        min-width: 0;
        max-width: 300px;
    }

    .products_options .button {
        min-width: 0;
        max-width: 400px;
        width: 50px;
    }
}