@import url("./fonts.css");

:root {
  --white: #FFFFFF;
  --black: #000000;
  --main-bg: #141618;
}

.active {
  color: var(--white) !important;
}

body {
  background-color: #141618;

}


*,
::after,
::before {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Archivo;
}

.container {
  max-width: 1440px;
  width: 100%;
  padding: 0 65px;
  margin: 0 auto;
}

@media (max-width: 700px) {
  body {
    overflow-x: hidden;
  }


  .container {
    max-width: 1440px;
    width: 100%;
    padding: 0 30px;
    margin: 0 auto;
  }
}